 <div class="container">
    <!-- Example row of columns -->
    <% @num = 0 %>
    <% @overlays.each do |overlay| %>
    <% if @num %3 == 0 %>
        <% if @num != 0 %>
          </div> <!-- end row -->
        <% end %>
        <div class="row">
    <% end %>
    
     <div class="span5">
        <div class="boxgrid caption">  
        	<a href="<%= overlay.link %>"><img style="max-width: 600px; max-height: auto;" src="<%= overlay.picture %>"/></a>
        	<div class="cover boxcaption">  
            	<h3><%= overlay.root_domain %></h3>  
            	<p>
                <%= overlay.root_domain %>
                <%= link_to 'Show', overlay %>
                <%= link_to 'Edit', edit_overlay_path(overlay) %>
                <%= link_to 'Destroy', overlay, confirm: 'Are you sure?', method: :delete %>     
            </p>  
        	</div> <!-- end cover boxcaption -->
    	</div> <!-- end boxgrid caption -->

     </div> <!-- end span 5 -->
     <% @num += 1 %>
    <% end %>
    <% if @num %3 != 0 %>
      </div> <!-- end row -->
    <% end %>
   

<br />
<div class="clear" style="margin-left: 25px;">
  <%= link_to 'New Overlay', new_overlay_path %>
  
</div>
