<h1>Listing overlays</h1>


<% @overlays.each do |overlay| %>

    <a href="<%= overlay.link %>"><div style="width: 400px; height: 200px; overflow: hidden;"><%= overlay.title %><br />
      <img style="width: 400px" src="<%= overlay.picture %>"></div></a>
   <%= link_to 'Show', overlay %>
   <%= link_to 'Edit', edit_overlay_path(overlay) %>
   <%= link_to 'Destroy', overlay, confirm: 'Are you sure?', method: :delete %>

<% end %>
</table>

<br />

<%= link_to 'New Overlay', new_overlay_path %>
