  <div class="container2">
 <!-- Main hero unit for a primary marketing message or call to action -->

     <div class="hero-unit">
       <!--h1>Overlay.d</h1-->
       <img src="/assets/mainlogo.png" width="450"  />
       <p>
       	<span >
       	  <%= form_for(@overlay) do |f| %>
       		  <div class="hero-subunit"> <!-- was form -->
       		      <%= f.text_field :root_domain, :class => "input-xlarge" %>
       		    <a class="btn primary large" onclick="$('form').submit()">create overlay &raquo;</a>
       		  </div> <!-- was form -->
       		<% end %>
       	</span>
       </p>

     </div>
   </div>
 
 
 <div class="container">
    <!-- Example row of columns -->
    <% @num = 0 %>
    <% @overlays.each do |overlay| %>
    <% if @num %3 == 0 %>
        <% if @num != 0 %>
          </div> <!-- end row -->
        <% end %>
        <div class="row">
    <% end %>
    
     <div class="span5">
        <div class="boxgrid caption">  
        	<a href="<%= overlay.link %>"><img style="max-width: 600px; max-height: auto;" src="<%= overlay.picture %>"/></a>
        	<div class="cover boxcaption">  
            	<h3><%= overlay.root_domain %></h3>  
            	<p>
                <%= overlay.root_domain %>
                <%= link_to 'Show', overlay %>
                <%= link_to 'Edit', edit_overlay_path(overlay) %>
                <%= link_to 'Destroy', overlay, confirm: 'Are you sure?', method: :delete %>     
            </p>  
        	</div> <!-- end cover boxcaption -->
    	</div> <!-- end boxgrid caption -->

     </div> <!-- end span 5 -->
     <% @num += 1 %>
    <% end %>
    <% if @num %3 != 0 %>
      </div> <!-- end row -->
    <% end %>
   

<br />
  
</div>
